#body-wrep {
  background-color: #fff;
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-family: "Lexend", sans-serif;
}

#body-wrep *:before,
#body-wrep *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#body-wrep .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 70px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 600px) {
  #body-wrep .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

#body-wrep .header .select-area {
  position: relative;
  background-color: #f8f4ec;
  border: 1px solid transparent;
  border-radius: 7px 7px 0 0;
  margin-bottom: 16px;
  padding: 10px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 10px 50px 15px 0;
  color: #494949;
  overflow: hidden;
  font-size: 20px;
}

@media only screen and (max-width: 600px) {
  #body-wrep .header .select-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
  }
}

#body-wrep .header .select-area:hover {
  -webkit-box-shadow: 10px 10px 19px -12px #494949;
          box-shadow: 10px 10px 19px -12px #494949;
  -webkit-transition: 1s;
  transition: 1s;
}

#body-wrep .header .select-area:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 10px solid #742d6c;
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 0;
}

#body-wrep .header .input-select {
  position: relative;
  background: transparent;
  border: none;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.33333;
  overflow: hidden;
  padding: 5px;
  color: #494949;
  width: 100%;
  cursor: pointer;
}

#body-wrep .header .input-select:active, #body-wrep .header .input-select:focus {
  border: none;
}

#body-wrep .main-content {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100%;
}

#body-wrep .main-content .box_wrap,
#body-wrep .main-content .box_wrap_12,
#body-wrep .main-content .box_wrap_bezUG {
  width: 90%;
  height: auto;
  padding: 20px;
}

#body-wrep .main-content .box_wrap .wraper24meseca,
#body-wrep .main-content .box_wrap .wraper12meseci,
#body-wrep .main-content .box_wrap .wraperBezUg,
#body-wrep .main-content .box_wrap_12 .wraper24meseca,
#body-wrep .main-content .box_wrap_12 .wraper12meseci,
#body-wrep .main-content .box_wrap_12 .wraperBezUg,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media only screen and (max-width: 1040px) {
  #body-wrep .main-content .box_wrap .wraper24meseca,
  #body-wrep .main-content .box_wrap .wraper12meseci,
  #body-wrep .main-content .box_wrap .wraperBezUg,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (max-width: 992px) {
  #body-wrep .main-content .box_wrap .wraper24meseca,
  #body-wrep .main-content .box_wrap .wraper12meseci,
  #body-wrep .main-content .box_wrap .wraperBezUg,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  width: 30%;
  margin: 10px;
  border-radius: 8px;
  background-color: #f8f4ec;
}

@media only screen and (max-width: 1040px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box {
    margin-top: 30px;
    width: 50%;
  }
}

@media only screen and (max-width: 780px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box {
    width: 60%;
  }
}

@media only screen and (max-width: 600px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box {
    width: 85%;
  }
}

@media only screen and (max-width: 370px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box {
    width: 98%;
  }
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box:hover,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box:hover,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box:hover,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box:hover,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box:hover,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box:hover,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box:hover,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box:hover,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box:hover {
  -webkit-box-shadow: 10px 10px 25px -12px #494949;
          box-shadow: 10px 10px 25px -12px #494949;
  -webkit-transition: 1s;
  transition: 1s;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title {
  margin-left: auto;
  margin-right: auto;
  display: block;
  display: block;
  width: 90%;
  min-height: 100px;
  min-height: 100px;
  border-bottom: 1px solid #d3d3d3;
}

@media only screen and (max-width: 1040px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title {
    width: 80%;
  }
}

@media only screen and (max-width: 780px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title {
    width: 75%;
  }
}

@media only screen and (max-width: 600px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title {
    width: 70%;
  }
}

@media only screen and (max-width: 480px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title {
    width: 90%;
  }
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title .box_title,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title .box_title {
  text-align: center;
  margin-top: 40px;
  padding-bottom: 60px;
  color: #742d6c;
  font-size: 45px;
  font-weight: 600;
  font-style: italic;
}

@media only screen and (max-width: 780px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title .box_title {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title .box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title .box_title {
    font-size: 45px;
  }
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title .first_box_title,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title .first_box_title {
  margin-top: 20px;
  padding-bottom: 30px;
}

@media only screen and (max-width: 780px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title .first_box_title,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title .first_box_title {
    font-size: 40px;
    margin-top: 20px;
  }
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .box_wrap_title .second_box_title,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .box_wrap_title .second_box_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_1,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_1,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_1,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_1,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_1,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_1,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_1,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_1,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 160px;
  height: auto;
  margin: 3%;
  border-bottom: 1px solid #d3d3d3;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_1 .sec_1_icon,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_1 .sec_1_icon {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_1 .sec_1_icon .icon-imgTV,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_1 .sec_1_icon .icon-imgTV {
  width: 70%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_1 .sec_1_list,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_1 .sec_1_list {
  -webkit-box-flex: 73%;
      -ms-flex: 73%;
          flex: 73%;
  font-size: 15px;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_2,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_2,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_2,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_2,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_2,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_2,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_2,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_2,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 130px;
  height: auto;
  margin-bottom: 20px;
  margin: 0 3% 25px 3%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_2 .sec_2_icon,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_2 .sec_2_icon {
  -webkit-box-flex: 20%;
      -ms-flex: 20%;
          flex: 20%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_2 .sec_2_icon .icon-imgNET,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_2 .sec_2_icon .icon-imgNET {
  width: 70%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_2 .sec_2_list,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_2 .sec_2_list {
  -webkit-box-flex: 73%;
      -ms-flex: 73%;
          flex: 73%;
  font-size: 15px;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_3,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_3,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_3,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_3,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_3,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_3,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_3,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_3,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 77px;
  background-color: #fff;
  margin-left: 3%;
  margin-right: 3%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_3 .sec_3_img,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_3 .sec_3_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 35%;
      -ms-flex: 35%;
          flex: 35%;
  padding: 5px 5px 0 0;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  align-items: center;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_3 .sec_3_img .img,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_3 .sec_3_img .img {
  width: 80%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_3 .sec_3_txt,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_3 .sec_3_txt {
  -webkit-box-flex: 64%;
      -ms-flex: 64%;
          flex: 64%;
  color: #742d6c;
  font-size: 14px;
  font-weight: 600;
  font-style: italic;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_price,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_price,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_price,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_price,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_price,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_price,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_price,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_price,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_price {
  border-top: 1px solid #d3d3d3;
  height: auto;
  margin: 20px 3% 0 3%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_price .sec_price_new,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_price .sec_price_old,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_price .sec_price_new {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 47%;
  padding: 1%;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_price .sec_price_fusnote,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_price .sec_price_fusnote {
  text-align: center;
}

@media only screen and (max-width: 780px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_price .sec_price_fusnote,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_price .sec_price_fusnote {
    font-size: 14px;
  }
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_btn,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_btn,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_btn,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_btn,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_btn,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_btn,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_btn,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_btn,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  padding: 15px;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_btn .btn,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_btn .btn {
  width: 95%;
  border: none;
  border-radius: 10px;
  background-color: #742d6c;
  padding: 11px;
  color: #fff;
  text-align: center;
  font-size: 17px;
  margin-bottom: 20px;
  cursor: pointer;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_btn .btn:hover, #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_btn .btn:focus, #body-wrep .main-content .box_wrap .wraper24meseca .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_box .sec_btn .btn:active,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_btn .btn:hover,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_btn .btn:focus,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_box .sec_btn .btn:active {
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_sec_2,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_sec_2,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_sec_2,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_sec_2,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_sec_2,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_sec_2,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_sec_2,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_sec_2,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_sec_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#body-wrep .main-content .box_wrap .wraper24meseca .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap .wraper12meseci .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap .wraperBezUg .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_sec_2 .recomendation,
#body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_sec_2 .recomendation {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 90%;
  padding: 10px;
  color: #742d6c;
  font-size: 18px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

@media only screen and (max-width: 780px) {
  #body-wrep .main-content .box_wrap .wraper24meseca .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap .wraper12meseci .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap .wraperBezUg .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap_12 .wraper24meseca .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap_12 .wraper12meseci .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap_12 .wraperBezUg .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap_bezUG .wraper24meseca .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap_bezUG .wraper12meseci .cont_sec_2 .recomendation,
  #body-wrep .main-content .box_wrap_bezUG .wraperBezUg .cont_sec_2 .recomendation {
    font-size: 16px;
  }
}
/*# sourceMappingURL=ugovor.css.map */