@import "./var_mixins/var_mixins_color.scss";
@import "./var_mixins/var_mixins_position.scss";
@import "./var_mixins/var_mixins_medaqueries.scss";

#body-wrep {
    background-color: $white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    max-width: 1400px;
    @include centar;
    font-family: "Lexend", sans-serif;
    *:before,
    *:after {
        box-sizing: border-box;
    }
    .header {
        @include phone_max {
            @include flex_centar;
        }
        display: flex;
        flex-direction: row;
        height: 70px;
        justify-content: flex-end;
        align-items: center;
        .select-area {
            @include phone_max {
                @include flex_centar;
                margin: 0;
            }
            position: relative;
            background-color: $box_back;
            border: 1px solid transparent;
            border-radius: 7px 7px 0 0;
            margin-bottom: 16px;
            padding: 10px;
            width: fit-content;
            margin: 10px 50px 15px 0;
            color: $text_gray2;
            overflow: hidden;
            font-size: 20px;
            &:hover {
                box-shadow: 10px 10px 19px -12px rgba(73, 73, 73, 1);
                transition: 1s;
            }

            &:after {
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 10px solid $purple;
                bottom: 0;
                content: "";
                height: 0;
                margin: auto;
                pointer-events: none;
                position: absolute;
                right: 10px;
                top: 0;
            }
        }
        .input-select {
            position: relative;
            background: transparent;
            border: none;
            font-size: 18px;
            font-weight: 300;
            line-height: 1.33333;
            overflow: hidden;
            padding: 5px;
            color: $text_gray2;
            width: 100%;
            cursor: pointer;
            &:active,
            &:focus {
                border: none;
            }
        }
    }
    .main-content {
        @include centar;
        width: 100%;
        .box_wrap,
        .box_wrap_12,
        .box_wrap_bezUG {
            width: 90%;
            height: auto;
            padding: 20px;
            .wraper24meseca,
            .wraper12meseci,
            .wraperBezUg {
                @media only screen and (max-width: 1040px) {
                    @include flex_centar;
                    flex-direction: column;
                }
                @include laptop_max {
                    @include flex_centar;
                    flex-direction: column;
                    width: 100%;
                }
                width: auto;
                height: auto;
                display: flex;
                align-items: flex-end;
                .cont_box {
                    @media only screen and (max-width: 1040px) {
                        margin-top: 30px;
                        width: 50%;
                    }
                    @include tablet_max {
                        width: 60%;
                    }
                    @include phone_max {
                        width: 85%;
                    }
                    @include mikro_phone_max {
                        width: 98%;
                    }
                    flex-direction: column;
                    flex: 30%;
                    width: 30%;
                    margin: 10px;
                    border-radius: 8px;
                    background-color: $box_back;
                    &:hover {
                        box-shadow: 10px 10px 25px -12px rgba(73, 73, 73, 1);
                        transition: 1s;
                    }
                    .box_wrap_title {
                        @media only screen and (max-width: 1040px) {
                            width: 80%;
                        }
                        @include tablet_max {
                            width: 75%;
                        }
                        @include phone_max {
                            width: 70%;
                        }
                        @include small_phone_max {
                            width: 90%;
                        }
                        @include centar;
                        display: block;
                        width: 90%;
                        min-height: 100px;
                        min-height: 100px;
                        border-bottom: 1px solid $hr_gray;

                        .box_title {
                            @include tablet_max {
                                font-size: 40px;
                            }
                            @include phone_max {
                                font-size: 45px;
                            }
                            text-align: center;
                            margin-top: 40px;
                            padding-bottom: 60px;
                            color: $purple;
                            font-size: 45px;
                            font-weight: 600;
                            font-style: italic;
                        }
                        .first_box_title {
                            @include tablet_max {
                                font-size: 40px;
                                margin-top: 20px;
                            }
                            margin-top: 20px;
                            padding-bottom: 30px;
                        }
                        .second_box_title {
                            display: flex;
                            @include flex_centar;
                            align-self: baseline;
                        }
                    }
                    .sec_1 {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        min-height: 160px;
                        height: auto;
                        margin: 3%;
                        border-bottom: 1px solid $hr_gray;
                        .sec_1_icon {
                            flex: 20%;
                            .icon-imgTV {
                                width: 70%;
                            }
                        }
                        .sec_1_list {
                            flex: 73%;
                            font-size: 15px;
                        }
                    }
                    .sec_2 {
                        display: flex;
                        justify-content: flex-start;
                        align-items: center;
                        min-height: 130px;
                        height: auto;
                        margin-bottom: 20px;
                        margin: 0 3% 25px 3%;
                        .sec_2_icon {
                            flex: 20%;
                            .icon-imgNET {
                                width: 70%;
                            }
                        }
                        .sec_2_list {
                            flex: 73%;
                            font-size: 15px;
                        }
                    }
                    .sec_3 {
                        display: flex;
                        height: 77px;
                        background-color: $white;
                        margin-left: 3%;
                        margin-right: 3%;
                        justify-content: flex-start;
                        align-items: center;
                        .sec_3_img {
                            @include flex_centar;
                            flex: 35%;
                            padding: 5px 5px 0 0;

                            justify-content: flex-start;
                            align-items: center;
                            .img {
                                width: 80%;
                            }
                        }
                        .sec_3_txt {
                            flex: 64%;
                            color: $purple;
                            font-size: 14px;
                            font-weight: 600;
                            font-style: italic;
                        }
                    }

                    .sec_price {
                        border-top: 1px solid $hr_gray;
                        height: auto;
                        margin: 20px 3% 0 3%;
                        .sec_price_old,
                        .sec_price_new {
                            display: inline-flex;
                            width: 47%;
                            padding: 1%;
                        }
                        .sec_price_fusnote {
                            @include tablet_max {
                                font-size: 14px;
                            }
                            text-align: center;
                        }
                    }
                    .sec_btn {
                        display: flex;
                        height: auto;
                        padding: 15px;
                        @include flex_centar;
                        cursor: pointer;
                        .btn {
                            width: 95%;
                            border: none;
                            border-radius: 10px;
                            background-color: $purple;
                            padding: 11px;
                            color: $white;
                            text-align: center;
                            font-size: 17px;
                            margin-bottom: 20px;
                            cursor: pointer;
                            &:hover,
                            &:focus,
                            &:active {
                                transition: transform 0.6s;
                                transform: scale(1.1);
                            }
                        }
                    }
                }
                .cont_sec_2 {
                    display: flex;
                    .recomendation {
                        @include tablet_max {
                            font-size: 16px;
                        }
                        @include centar;
                        width: 90%;
                        padding: 10px;
                        color: $purple;
                        font-size: 18px;
                        font-weight: 600;
                        font-style: italic;
                        text-align: center;
                        border-bottom: 1px solid $hr_gray;
                    }
                }
            }
        }
    }
}
