@import "./var_mixins/var_mixins_color.scss";
@import "./var_mixins/var_mixins_position.scss";
@import "./var_mixins/var_mixins_medaqueries.scss";

#body-wrep {
    background-color: $white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1400px;
    @include centar;

    .main_cont {
        @include centar;
        width: 95%;
        height: auto;
      
        .box_list {
            width: 100%;
            height: auto;
            float: right;
            .drop_wrep {
                position: relative;
                background-color: $box_back;
                border: 1px solid transparent;
                border-radius: 7px 7px 0 0;
                padding: 10px;
                width: fit contetn;
                margin: 10px 70px 15px 0;
                float: right;
                color: $text_gray2;
                overflow: hidden;
                &:active,
                &:focus {
                    border: 1px solid transparent;
                }
                .option_drop{
                    background-color: $box_back;
                        
                }
            }
        }
    }
}
